<app-filteredpicklist [source]="plannerModules" [target]="selectedModules" sourceHeader="Available Courses" targetHeader="Selected Courses" [dragdrop]="true"
[responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}" filterBy="name,code,semester"
sourceFilterPlaceholder="Search by name, code, semester 1/semester 2 etc.." targetFilterPlaceholder="Search by name, code, semester1/semester2 etc."
[showSourceFilter]="true" [showTargetFilter]="false" ariaSourceFilterLabel="test" (onMoveToTarget)="toTarget()" (onMoveAllToTarget)="toTarget()" (onMoveToSource)="toSource()" (onMoveAllToSource)="toSource()"
[initialTemplate]="save" [selectedPrereqs]="takenPrerequisites" [semester1Selected]="selectedSemester1" [semester2Selected]="selectedSemester2">
<ng-template let-plannerModule pTemplate="item">
        <div class="module-item semester{{plannerModule.semester}} " id="{{plannerModule.code}}">
            <div class="topRow gridRow">
                <div class="module-code">
                    <h5><a href="/modules/{{plannerModule.id}}" target="_blank" class="moduleLink">{{plannerModule.fullName}}</a></h5>
                </div>
            </div>
            <div class="middleRow gridRow">
                <div>{{ showSemester(plannerModule.id) ? "Semester: " + plannerModule.semester : ''}} </div>
                <p-accordion styleClass= 'customAcc {{highlightAccordionMessage(plannerModule.missing)==0 ? "" : "warn"}}' expandIcon="pi pi-fw pi-chevron-left">
                    <p-accordionTab>
                        <p-header tooltipPosition="bottom" pTooltip='{{highlightAccordionMessage(plannerModule.missing)==0 ? null : "Some prerequisites are missing. Click for more info"}}'>
                            <p-message severity= '{{highlightAccordionMessage(plannerModule.missing)==0 ? "custom" : "warn"}}' text=" Prerequisite Modules: " styleClass="customMsg exclude"></p-message>
                        </p-header>
                        <div class="hiddenRow" >
                            <ul class="prereqList">
                                <li *ngFor="let prerequisite of plannerModule.prerequisiteModules" style="height: min-content;">
                                        <span style="display: flex; align-items: center; justify-content:space-between;">
                                            <a href="/modules/{{prerequisite.id}}" target="_blank"  class='moduleLink' style="grid-column: 1;"
                                            pTooltip='{{highlightPrerequisite(prerequisite.id) ? null : "This module is a prerequisite but is missing from your plan. Add it to to your plan/prerequisite list"}}' tooltipPosition="top">
                                                <p-message severity= '{{highlightPrerequisite(prerequisite.id) ? "custom" : "warn"}}' text="{{prerequisite.fullName}}" styleClass="customMsg include"></p-message>

                                            </a>
                                            <span class="p-buttonset" style="z-index: 15; display: flex;">
                                                <button pButton pRipple icon="pi pi-calendar-plus" (click)="addModule(prerequisite.id)" styleClass="p-button-sm" [disabled]="disableAddtoPrereq(prerequisite.id) ? true : false"
                                                pTooltip="Add to planner" tooltipPosition="top"></button>
                                                <button pButton pRipple icon="{{!this.takenPrerequisites.includes(prerequisite.id) ? 'pi pi-plus' : 'pi pi-minus'}}" (click)="addPrequisite(prerequisite.id)" styleClass="p-button-sm" [disabled]="disableAddtoPrereq(prerequisite.id) ? true : false"
                                                pTooltip="Add to taken modules" tooltipPosition="top"></button>
                                            </span>
                                        </span>
                                </li>
                            </ul>
                            <ul *ngIf="plannerModule.prerequisiteModules.length==0">
                                <li>
                                    None
                                </li>
                            </ul>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
</ng-template>
<div buttons>
    <button type="button" pButton pRipple icon="pi pi-save" (click)="openSaveDialog()" pTooltip="Save plan"></button>
    <button type="button" pButton pRipple icon="pi pi-download" (click)="openPlanDialog()" pTooltip="Load plan"></button>
</div>
</app-filteredpicklist>

<ng-template #save >
    <div class="containerLarge">
        <div class="modulesTitle">
            <h6 style="padding-left: 1.25rem; font-weight: bold; margin: 0%;">Taken Modules</h6>
            <i class="pi pi-question-circle" pTooltip="Check off modules you have already taken or don't need in your plan"></i>
        </div>
        <div class="container">
            <p-checkbox *ngFor="let pre of allPrerequisites" name="groupname" value="pre" [value]="pre.id" label="{{pre.fullName}}" [(ngModel)]="takenPrerequisites" (ngModelChange)="onChange($event)" >
            </p-checkbox>
        </div>
    </div>
</ng-template>

<p-dialog [(visible)]="displaySaveForm" [style]="{width: '30vw'}" [modal]="true">
    <ng-template pTemplate="header">
        Save Plan
    </ng-template>
    <div class="p-inputgroup">
        <input id="textinput" type="text" pInputText placeholder="Plan name" [(ngModel)]="saveText" [maxlength]="10">
        <small id="textinput-help" class="p-error block"></small>
        <button type="button" pButton pRipple icon="pi pi-save" styleClass="p-button-warn" (click)="savePlan()" pTooltip="Save plan"></button>
    </div>
    <ng-template pTemplate="footer">
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayLoadForm" [style]="{width: '30vw'}" [modal]="true">
    <ng-template pTemplate="header">
        Load Plan
    </ng-template>
    <li *ngFor="let plan of plans" style="list-style-type: none; display: flex;">
        <div class="nameList">
        {{plan.name}}
        <div>
            <p-button icon="pi pi-download" (click)="loadPlan(plan.id)" styleClass="p-button-sm"></p-button>
            <p-button icon="pi pi-times" (click)="deletePlan(plan.id)" styleClass="p-button-sm"></p-button>
        </div>
        </div>
    </li>
    <ng-template pTemplate="footer">
    </ng-template>
</p-dialog>
