.p-picklist-target {
    height: 50rem;
}

.p-picklist-source {
    .missingModulesLabel {
        display: none !important;
    }
}

.p-picklist-source {
    .missingModulesLabel {
        display: flex !important;
    }
}

.moduleLink {
    color: var(--text-color);
}

.moduleLink:hover {
    text-decoration: underline;
}

.moduleLinkMissing {
    color: var(--warnColour);
}

.module-item {
    align-content: center;
    width: 100%;
    margin: auto;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
    display: grid;
    color: var(--text-color);
}

.semester3 {
    box-shadow: inset 0 0 100px 1000px var(--bluegray-300), 0 0 10000px 10000px var(--bluegray-300);
}

.semester2 {
    box-shadow: inset 0 0 100px 1000px var(--bluegray-200), 0 0 10000px 10000px var(--bluegray-200);
}

.semester1 {
    box-shadow: inset 0 0 100px 1000px var(--blue-100), 0 0 10000px 10000px var(--blue-100);
}

.prerequisiteRow {
    margin: 0 0 0.5rem 0;
}

h5, h6 {
    margin: 0 0 0.5rem 0;
}

.alignWithIcon {
    position: absolute;
    margin-top: 3px;
}

.prereqList {
    justify-self: left;
    list-style: none;
    padding-inline-start: 10px;

    li::before {
        content: "";
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -2.5em; /* Also needed for space (tweak if needed) */
    }
}

.p-picklist-source {
    .p-button {
        display: none !important;
    }
}

:root {
    --warnColour: #c77f13;
}

.customAcc {
    .p-accordion-content {
        background: none !important;
        border: none !important;
        padding: 0px !important;
    }

    .p-accordion-header-link {
        background: none !important;
        border: none !important;
        padding: 0px !important;
        box-shadow: none !important;
        display: grid;
        color: inherit !important;
    }

    .p-accordion-toggle-icon {
        grid-column: 2;
        grid-row: 1;
        justify-self: right;
    }

    .p-accordion-header-text {
        grid-column: 1;
        grid-row: 1;
    }

    .p-toggleable-content {
        align-items: flex-start;
    }
}

.warn {
    .p-accordion-toggle-icon {
        color: var(--warnColour);
    }
}

.p-ink {
    pointer-events: none !important;
}

.p-splitter-panel-nested {
    display: block !important;
}

.customMsg.p-inline-message-warn {
    background: none !important;
    color: var(--warnColour) !important;

    .p-inline-message-icon {
        color: var(--warnColour) !important;
    }
}

.customMsg {
    padding-left: 0px !important;
}

.exclude {
    .pi-info-circle {
        display: none !important;
    }
}

.include {
    padding: 2px 2px !important;
    margin: none;
}

.menuStyle {
    top: -100% !important;
    left: -90% !important;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: row;
    min-height: 4rem;
}

.containerLarge {
    border: 1px solid #dee2e6;
    border-top: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.modulesTitle {
    border: 1px solid #dee2e6;
    height: min-content;
    width: 100%;
    display: flex;
    align-items: baseline;
}

.pi-question-circle {
    color: var(--gray-500);
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.pi-question-circle:hover {
    color: var(--gray-900);
}

.nameList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 100%;

    p-button {
        padding-left: 5px;
    }
}

@media screen and (max-width: 576px) {
    .product-item {
        flex-wrap: wrap;

        .image-container {
            width: 100%;
            text-align: center;
        }

        img {
            margin: 0 0 1rem 0;
            width: 100px;
        }
    }
}
