<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 xl:col-6"
             style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4 grid"
                 style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="mb-5 col-12">
                    <div class="text-900 text-3xl font-bold mb-3" style="text-align: center">
                        Please confirm your email!
                    </div>
                    <br>
                    <div class="text-900 text-xl mb-3" style="text-align: center">
                        If you don't receive an email in the next 5 minutes please contact an administrator!
                        <br>
                        <a href="mailto:modpool.info@gmail.com">modpool.info@gmail.com</a>
                    </div>
                    <p style="text-align: center">or</p>
                    <a
                        routerLink="/"
                        class="font-medium no-underline ml-1 text-center cursor-pointer"
                        style="color: var(--primary-color)">
                        <p style="text-align: center">Go back to the homepage</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
