<div class="card">
    <a><h5 [ngStyle]="{color:'var(--primary-color)'}" style="font-weight: bold">{{ module.name}}</h5></a>
    <h6 style="font-weight: bolder">{{ module.code }}</h6>
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-info-circle"></i>
                <span>Description</span>
            </ng-template>
            {{ module.description }}
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-pencil"></i>
                <span>Assessment</span>
            </ng-template>
            <div class="grid">
                <div
                    class="col-6"
                    style="text-align: left; font-weight: bold; font-size: medium;">
                    Coursework - {{ module.assessment.coursework }}%
                </div>
                <div
                    class="col-6"
                    style="text-align: right; font-weight: bold; font-size: medium;">
                    Exam - {{ module.assessment.exam }} %
                </div>
            </div>
            <p-progressBar [value]="module.assessment.coursework" [showValue] = false></p-progressBar>
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <i class="pi pi-history"></i>
                <span>Requirements</span>
            </ng-template>
            <div class ="card">
                <div class="flex flex-column md:flex-row card-container indigo-container">
                    <div class="flex-1 flex align-items-left justify-content-left bg-primary font-bold text-white m-2 px-5 py-3 border-round">
                        <dl>
                            <dt><h5>Prerequisites:</h5></dt>
                            <dd *ngFor="let prerequisite of module.prerequisites">
                                {{ prerequisite }}
                            </dd>
                        </dl>
                    </div>
                    <div class="flex-1 flex align-items-left justify-content-left bg-primary font-bold text-white m-2 px-5 py-3 border-round">

                        <dl>
                            <dt><h5>Required for: </h5></dt>
                            <dd *ngFor="let prerequisiteFor of module.prerequisiteFor">
                                {{ prerequisiteFor }}
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
