<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 xl:col-6"
             style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4 grid"
                 style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="mb-5 col-12">
                    <div class="text-900 text-3xl font-bold mb-3">Sign up</div>
                </div>
                <div class="w-full md:w-10 mx-auto">
                    <form [formGroup]="authForm" (ngSubmit)="onRegister()">

                        <div class="col-12">
                            <label class="block text-900 font-medium text-lg mb-2">Email</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                                <input formControlName="email" type="text" pInputText placeholder="Email">
                                <span class="p-inputgroup-addon">@liverpool.ac.uk</span>
                            </div>

                        </div>

                        <div class="col-12">
                            <label class="block text-900 font-medium text-lg mb-2">Password</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                <input type="password" formControlName="password" pInputText placeholder="Password">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                <input type="password" formControlName="repeatPassword" type="text" pInputText
                                       placeholder="Repeat Password">
                            </div>
                        </div>
                        <div>
                            <p-messages severity="info">
                                <ng-template pTemplate="">
                                    <div class="flex flex-column">
                                        <h6 class="flex mb-0 text-blue-800">Password requirements:</h6>
                                        <p *ngIf="password.errors?.required || password.errors?.['hasNumber']"
                                           class="ml-2 flex mb-0 mt-0"><i
                                            class="pi pi-angle-right align-self-center"></i>
                                            Numeric value.</p>
                                        <p *ngIf="!(password.errors?.required || password.errors?.['hasNumber']) || password.valid"
                                           class="ml-2 flex text-green-500 mb-0 mt-0">
                                            <i class="pi pi-angle-right align-self-center"></i>Numeric value.</p>

                                        <p *ngIf="password.errors?.required || password.errors?.['hasCapitalCase']"
                                           class="ml-2 flex mb-0 mt-0"><i
                                            class="pi pi-angle-right align-self-center"></i>Uppercase letter.</p>
                                        <p *ngIf="!(password.errors?.required || password.errors?.['hasCapitalCase'])"
                                           class="ml-2 flex text-green-500  mb-0 mt-0"><i
                                            class="pi pi-angle-right align-self-center"></i>Uppercase letter.</p>

                                        <p *ngIf="password.errors?.required || password.errors?.['hasSmallCase'] "
                                           class="ml-2 flex mb-0 mt-0"><i
                                            class="pi pi-angle-right align-self-center"></i>Lowercase letter.</p>
                                        <p *ngIf="!(password.errors?.required || password.errors?.['hasSmallCase'])"
                                           class="ml-2 flex text-green-500 mb-0 mt-0"><i
                                            class="pi pi-angle-right align-self-center"></i>Lowercase letter.</p>

                                        <p *ngIf="password.errors?.minlength || password.errors?.required"
                                           class="ml-2 flex mb-0 mt-0"><i
                                            class="pi pi-angle-right align-self-center"></i>Minimum 8 characters.</p>
                                        <p *ngIf="!(password.errors?.required || password.errors?.minlength)"
                                           class="ml-2 flex text-green-500 mb-0 mt-0"><i
                                            class="pi pi-angle-right align-self-center"></i>Minimum 8 characters.</p>
                                    </div>
                                </ng-template>
                            </p-messages>
                        </div>
                        <div class="col-12">
                            <button
                                [disabled]="authForm.invalid"
                                type="submit"
                                pButton
                                pRipple
                                label="Sign Up"
                                class="w-full p-3 text-xl">
                            </button>
                        </div>
                    </form>
                    <div *ngIf="(email.dirty && email.errors?.['required']) || !passwordMatch">
                        <p-messages severity="error">
                            <ng-template pTemplate="">
                                <div class="flex flex-column">
                                    <p *ngIf="!passwordMatch" class="ml-2 flex">Passwords do not match!</p>
                                    <p *ngIf="email.dirty && email.errors?.['required']" class="ml-2 flex">Email is
                                        required!</p>
                                </div>
                            </ng-template>
                        </p-messages>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
