<div class="grid flex flex-wrap">
    <div class="md:col-12 col-12 flex-order-1 md:flex-order-0" style="position:relative">
        <div class="card">
            <div class="grid ml-3 mt-3">
                <p class="col-12 text-3xl text-blue-500 mb-0">What is Modpool?</p>
                <p class="col-12 text-lg mt-0">
                    Modpool acts as a planner, course catalogue, knowledge bank and it provides module-related information such as
                    community-driven module reviews and in future discussions.
                </p>
            </div>
            <div class="grid ml-3 mt-3">
                <p class="col-12 text-3xl text-blue-500 mb-0">Goals</p>
                <p class="col-12 text-lg mt-0">
                    Long term goal of Modpool is to enhance the quality students' lives at University of Liverpool.
                </p>
            </div>
            <div class="grid ml-3 mt-3">
                <p class="col-12 text-3xl text-blue-500 mb-0">You found an error?</p>
                <p class="col-12 text-lg mt-0">
                    If you think the error is caused by a bug in Modpool itself, please report it using email:
                    <a href="mailto:modpool.info@gmail.com" class="text-blue-700">modpool.info@gmail.com</a>
                </p>
            </div>
            <div class="grid ml-3 mt-3">
                <p class="col-12 text-3xl text-blue-500 mb-0">Privacy</p>
                <p class="col-12 text-lg mt-0">
                    We care about your privacy! All of the reviews you leave are anonymous, so you can be honest,
                    and help the community. We don't use any information for advertising, or share the information
                    with anybody.
                </p>
            </div>
        </div>
    </div>
</div>
