<div class="card grid">
    <div class="col-6">
        <p class="flex text-xl font-medium">
            Quality: &nbsp;
            <p-rating [ngModel]="review.quality" readonly="true" stars="5" [cancel]="false"></p-rating>
        </p>
    </div>
    <div class="col-6">
        <p class="flex text-xl font-medium">
            Difficulty: &nbsp;
            <p-rating [ngModel]="review.difficulty" readonly="true" stars="5" [cancel]="false"></p-rating>
        </p>
    </div>
    <div class="col-12 text-900">
        <p>Coordinator:
            <a [routerLink]="['/coordinators', review.coordinatorId]">
                <span
                    class="hover:text-primary hover-underline-animation font-bold">{{ review.coordinatorFullName }}</span>
            </a>
        </p>
        <p>Taken: <span class="font-bold">{{ review.moduleAcademicYear }}</span></p>
    </div>
    <div class="col-12">
        <p-divider></p-divider>
    </div>
    <div class="col-12 md:col-12">
        <div>
            <p>{{ review.content | slice:sliceOptions.start:sliceOptions.end }}</p>
        </div>
        <p-divider align="center">
            <p-button styleClass="px-3 p-button-rounded" (click)="toggleReview()"
                      *ngIf="review.content.length >= sliceOptions.default">
                <ng-template pTemplate="content">
                    <i class="pi pi-chevron-down" *ngIf="!expanded"></i>
                    <i class="pi pi-chevron-up" *ngIf="expanded"></i>
                </ng-template>
            </p-button>
        </p-divider>
    </div>

    <div class="col-12 md:col-12 flex flex-row-reverse">
        <app-module-review-reaction [reactionData]="reactionData"></app-module-review-reaction>
    </div>
</div>
<br>
