<div class="card">
    <div class="col-12">
        <div class="col-12 flex flex-row">
            <h3 class="font-bold col-8" [ngStyle]="{color:'var(--primary-color)'}">
                {{ lecturer.name }}
            </h3>
            <div class="col-4" style="text-align: right">
                <h2 style="font-weight: bold; margin: 0;" class="text-900"><i
                    class="text-yellow-500 text-2xl pi pi-star-fill"></i> {{ lecturer.rating }} <span
                    class="text-blue-300 text-base">/5</span>
                </h2>
                <p class="text-blue-300">
                    Based on <span class="text-blue-600 font-bold text-sm">{{ lecturer.reviewCount }}</span> reviews
                </p>
            </div>
        </div>
        <p-divider></p-divider>
        <p style="text-align:justify">
            {{ lecturer.description }}
        </p>
    </div>
</div>

<div *ngIf="lecturer.modules.currentlyTeaching != null || lecturer.modules.previousModules != null">
    <div class="card">
        <div class="col-12">
            <div *ngIf="lecturer.modules.currentlyTeaching != null">
                <div class="col-12 flex flex-row">
                    <h4 class="font-bold mt-0 col-8">Modules</h4>
                    <div class="col-4" style="text-align: right">
                        <p class="text-blue-300">Overall module rating</p>
                        <h2 style="font-weight: bold; margin: 0;" class="text-900">
                            <i class="text-yellow-500 text-2xl pi pi-star-fill"></i>
                            {{ lecturer.modules.rating }}
                            <span class="text-blue-300 text-base">/5</span>
                        </h2>
                    </div>
                </div>
                <p-divider></p-divider>
                <h5 class="font-bold mt-0">Currently Teaching</h5>

                <div class="col-12">
                    <p-table [value]="[lecturer.modules.currentlyTeaching]" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th></th>
                                <th>Module</th>
                                <th>Module Rating</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-module>

                            <tr>
                                <td class="col-1">
                                    <button pButton (click)="reroute(module.url)">Visit</button>
                                </td>
                                <td class="col-8">{{ module.name }}</td>
                                <td class="col-3">
                                    <h3 style="font-weight: bold; margin: 0;" class="text-900">
                                        <i class="text-yellow-500 text-2xl pi pi-star-fill"></i>
                                        {{ module.rating }}
                                        <span class="text-blue-300 text-base">/5</span>
                                    </h3>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <br>
                <br>
            </div>
            <div *ngIf="lecturer.modules.previousModules != null">
                <h5 class="font-bold mt-0">Previously Led</h5>
                <div class="col-12">
                    <p-table [value]="lecturer.modules.previousModules" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th></th>
                                <th>Module</th>
                                <th>Module Rating</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-module>
                            <tr>
                                <td class="col-1">
                                    <button pButton (click)="reroute(module.url)">Visit</button>
                                </td>
                                <td class="col-8">{{ module.name }}</td>
                                <td class="col-3">
                                    <h3 style="font-weight: bold; margin: 0;" class="text-900">
                                        <i class="text-yellow-500 text-2xl pi pi-star-fill"></i>
                                        {{ module.rating }}
                                        <span class="text-blue-300 text-base">/5</span>
                                    </h3>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" id="reviews">
    <div class="col-12 flex flex-row">
        <h4 class="col-8 align-self-center font-bold mt-0">
            Reviews
        </h4>
        <div class="col-4" style="text-align: right">
            <h2 style="font-weight: bold; margin: 0;" class="text-900"><i
                class="text-yellow-500 text-2xl pi pi-star-fill"></i> 4.1 <span
                class="text-blue-300 text-base">/5</span>
            </h2>
            <p class="text-blue-300">
                Based on <span class="text-blue-600 font-bold text-sm">54</span> reviews
            </p>
        </div>
    </div>
    <div class="col-12">
        <button
            pButton
            pRipple
            style="float:left"
            (click)="onLeaveReview()">
            Leave a Review
        </button>
        <br>
        <br>
    </div>
    <div class="col-12">
        <br>
        <app-staff-review-list></app-staff-review-list>
    </div>
</div>

<app-login-modal></app-login-modal>
<app-staff-review-new></app-staff-review-new>
