<div class="grid">
    <div class="col-10">
        <div class="card" >
            <div class="container" style="padding: 3px 7px">
                <h1 [ngStyle]="{color:'var(--primary-color)'}" style="font-weight: bold">How to use the website</h1>
                On the modules finder page you will find every module that is currently running. You can use the filter to find
                specific modules and then add them to the your course planner. The modules that you add to your course planner will
                stay there until you remove them. You can then use the course planner to be informed any modules that clash (eg if you've
                taken too many credits in one semester). You can find more information about modules including reviews, by clicking
                on any of the modules on the module finder page.
                <h1 [ngStyle]="{color:'var(--primary-color)'}" style="font-weight: bold">FAQ's</h1>
                <div class="card" ><h4 [ngStyle]="{color:'var(--primary-color)'}">How to find information about a specific module</h4>
                Use the search bar at the top of the module finder, You may need to scroll up! From the module finder you can
                    see the pre-requisites and the level of coursework You can then click on the module to see further information
                    such as reviews and lecturer details
                </div>
                <div class="card" ><h4 [ngStyle]="{color:'var(--primary-color)'}">How to find next semesters modules</h4>
                First you should filter by module level, 100 = year 1, 200 = year 2 etc.
                Then filter by either semester 1 or 2. Finally select the relevant department(s)
                </div>
                <div class="card"><h4 [ngStyle]="{color:'var(--primary-color)'}">How to add a course to course planner</h4>
                    You can either add modules to selected courses on your course planner or by clicking on the '+' button
                    on a module on the module finder page. Once you have modules selected the planner will warn you if
                    you haven't selected the pre-requisite modules or if you do not have enough credits.
                </div>
                <div class="card"><h4 [ngStyle]="{color:'var(--primary-color)'}">Lorem ipsum dolor sit amet</h4>
                    You can either add modules to selected courses on your course planner or by clicking on the '+' button
                    on a module on the module finder page
                </div>
            </div>
        </div>

        <div class="card" >
            <h1 [ngStyle]="{color:'var(--primary-color)'}" style="font-weight: bold">About us</h1>
            <p>
            We are six Uniersity of Liverpool students who want to make it easier for current and propspective students
            alike to make informed choices on picking modules. We felt like Aenean at rutrum nulla. Nullam congue dolor eu dapibus faucibus. Mauris interdum velit auctor justo cursus, at facilisis urna ornare. Suspendisse eu mattis diam. Mauris commodo lorem lacus, eu convallis mauris ullamcorper eu. Praesent facilisis erat at rutrum consequat. Ut viverra semper ex et luctus. Aliquam erat volutpat.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et tortor eget lectus euismod vehicula. Ut eu pulvinar dolor. Quisque est quam, ultricies eget ligula et, scelerisque malesuada mi. In suscipit ipsum at condimentum eleifend. Aliquam erat volutpat. Cras cursus bibendum ultricies. Donec cursus urna vitae quam porta, vitae consectetur leo tincidunt. Sed pretium vulputate justo, sit amet imperdiet ante faucibus quis. Phasellus sed nulla ut erat volutpat suscipit vitae vitae nulla. Nam auctor sapien fermentum massa interdum, eget porttitor dolor dictum. Morbi sed ante purus. Nam quis mattis urna. Praesent quis elit ac massa cursus cursus.
            </p>
        </div>
    </div>
</div>
