:host ::ng-deep .p-rating .p-rating-icon {
    color: #495057;
    margin-left: 0.5rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    font-size: 2rem;
}

:host ::ng-deep .p-rating .p-rating-icon:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0 white;
}
:host ::ng-deep .p-rating .p-rating-icon:first-child {
    margin-left: 0;
}
:host ::ng-deep .p-rating .p-rating-icon.pi-star-fill {
    color: var(--yellow-500);
}
:host ::ng-deep .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
    color: var(--yellow-500);
}

