<span
    pTooltip="Upvote"
    class="col-2 text-center hover:text-green-500 hover-underline-animation-green"
    style="font-size: 1.5rem;"
    [ngClass]="{'text-green-500': userUpvoted()}">
    <a style="color: unset; cursor: pointer" (click)="onUpvote()">
        <i class="pi pi-thumbs-up" style="font-size: 1.5rem"></i> {{ reactionData.upvoteCount }}
    </a>
</span>
<span
    pTooltip="Downvote"
    class="col-2 text-center hover:text-pink-500 hover-underline-animation-pink"
    style="font-size: 1.5rem;"
    [ngClass]="{'text-pink-500': userDownvoted()}">
    <a style="color: unset; cursor: pointer" (click)="onDownvote()">
        <i class="pi pi-thumbs-down" style="font-size: 1.5rem"></i> {{ reactionData.downvoteCount }}
    </a>
</span>
