.card {
    border-radius: 50px 50px 50px 5px;
    background-color: var(--blue-50);
    border: 2px solid var(--blue-100)
}


/** Hover-related CSS **/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation-green {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation-green:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--green-500);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation-green:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation-pink{
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation-pink:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--pink-500);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation-pink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



// Scroll of the pannel
:host ::ng-deep .p-scrollpanel {
    p {
        padding: .5rem;
        line-height: 1.5;
        margin: 0;
    }

    &.custombar1 {
        .p-scrollpanel-wrapper {
            border-right: 9px solid var(--layer-1);
        }

        .p-scrollpanel-bar {
            background-color: var(--primary-color);
            opacity: 1;
            transition: background-color .2s;

            &:hover {
                background-color: #007ad9;
            }
        }
    }
}

:host ::ng-deep .p-divider .p-divider-content {
    background-color: inherit;
}


