<div class="sticky-inner-wrapper" style="margin-right:1rem">
    <div class="card col-12">
        <div class="grid p-fluid" [formGroup]="filterForm">
            <div class="col-12">
                <div class="p-inputgroup">
                    <input type="text" pInputText placeholder="Module name, code, description..." formControlName="q">
                </div>
                <hr>
            </div>
            <div class="col-12" style="margin-bottom: 0; padding-bottom: 0">
                <h5 [ngStyle]="{color:'var(--primary-color)'}">Module Level:</h5>
            </div>
            <div class="col-12">
                <p-multiSelect
                    formControlName="levels"
                    [options]="moduleLevels"
                    defaultLabel="Filter by level...">
                </p-multiSelect>
            </div>
            <div class="col-12" style="margin-bottom: 0; padding-bottom: 0">
                <h5 [ngStyle]="{color:'var(--primary-color)'}">Semester:</h5>
            </div>
            <div class="col-12">
                <p-multiSelect
                    formControlName="semesters"
                    optionLabel="name"
                    optionValue="value"
                    [options]="semesters"
                    defaultLabel="Filter by semesters..."
                ></p-multiSelect>
            </div>

            <div class="col-12" style="margin-bottom: 0; padding-bottom: 0">
                <h5 [ngStyle]="{color:'var(--primary-color)'}">Credits:</h5>
            </div>

            <div class="col-12">
                <p-multiSelect
                    formControlName="credits"
                    [options]="creditOptions"
                    id="credits"
                    defaultLabel="Filter by credits..."
                ></p-multiSelect>
            </div>
            <div class="col-12">
                <h5 [ngStyle]="{color:'var(--primary-color)'}">Departments:</h5>
                <p-multiSelect
                    formControlName="departmentIds"
                    [options]="departments"
                    defaultLabel="Filter by department..."
                    optionLabel="name"
                    selectedItemsLabel="{0} items selected"
                    optionValue="id"
                    [style]="{'width':'100%'}">
                </p-multiSelect>
            </div>
        </div>
    </div>
</div>

