<div id="layout-config" class="layout-config" [ngClass]="{'layout-config-active': appMain.configActive}" (click)="appMain.onConfigClick($event)">
        <a style="cursor: pointer" id="layout-config-button" class="layout-config-button" (click)="onConfigButtonClick($event)">
            <i class="pi pi-cog"></i>
        </a>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text layout-config-close" (click)="onConfigButtonClick($event)"></button>
        <div class="layout-config-content">

            <h6>PrimeOne Design - 2022</h6>
            <div class="grid free-themes">
                <div class="col-3 text-center">
                    <button class="p-link" (click)="changeTheme('lara-light-indigo', false)">
                        <img src="../../assets/layout/images/themes/lara-light-indigo.png" alt="Lara Light Indigo">
                    </button>
                </div>
                <div class="col-3 text-center">
                    <button class="p-link" (click)="changeTheme('lara-light-blue', false)">
                        <img src="../../assets/layout/images/themes/lara-light-blue.png" alt="Lara Light Blue">
                    </button>
                </div>
                <div class="col-3 text-center">
                    <button class="p-link" (click)="changeTheme('lara-light-purple', false)">
                        <img src="../../assets/layout/images/themes/lara-light-purple.png" alt="Lara Light Purple">
                    </button>
                </div>
                <div class="col-3 text-center">
                    <button class="p-link" (click)="changeTheme('lara-light-teal', false)">
                        <img src="../../assets/layout/images/themes/lara-light-teal.png" alt="Lara Light Teal">
                    </button>
                </div>
                <div class="col-3 text-center">
                    <button class="p-link" (click)="changeTheme('lara-dark-indigo', true)">
                        <img src="../../assets/layout/images/themes/lara-dark-indigo.png" alt="Lara Dark Indigo">
                    </button>
                </div>
                <div class="col-3 text-center">
                    <button class="p-link" (click)="changeTheme('lara-dark-blue', true)">
                        <img src="../../assets/layout/images/themes/lara-dark-blue.png" alt="Lara Dark Blue">
                    </button>
                </div>
                <div class="col-3 text-center">
                    <button class="p-link" (click)="changeTheme('lara-dark-purple', true)">
                        <img src="../../assets/layout/images/themes/lara-dark-purple.png" alt="Lara Dark Purple">
                    </button>
                </div>
                <div class="col-3 text-center">
                    <button class="p-link" (click)="changeTheme('lara-dark-teal', true)">
                        <img src="../../assets/layout/images/themes/lara-dark-teal.png" alt="Lara Dark Teal">
                    </button>
                </div>
            </div>
        </div>
    </div>
