<div class="card grid">
    <div class="col-6">
        <p class="flex text-xl font-medium">
            Overall Teaching Quality: &nbsp;
            <p-rating [ngModel]="quality" readonly="true" stars="5" [cancel]="false"></p-rating>
        </p>
    </div>

    <div class="col-12 text-900">
        <p>Module:
            <a [routerLink]="[]">
                <span class="hover:text-primary hover-underline-animation font-bold">MED123 - Media</span>
            </a>
        </p>
    </div>
    <div class="col-12">
        <p-divider></p-divider>
    </div>
    <div class="col-12 md:col-12">
        <div>
            <p>{{ details | slice:sliceOptions.start:sliceOptions.end }}</p>
        </div>
        <p-divider align="center">
            <p-button styleClass="px-3 p-button-rounded" (click)="toggleReview()"
                      *ngIf="details.length >= sliceOptions.default">
                <ng-template pTemplate="content">
                    <i class="pi pi-chevron-down" *ngIf="!expanded"></i>
                    <i class="pi pi-chevron-up" *ngIf="expanded"></i>
                </ng-template>
            </p-button>
        </p-divider>
    </div>

    <div class="col-12 md:col-12 flex flex-row-reverse">
            <span
                pTooltip="Upvote"
                class="col-2 text-center hover:text-green-500 hover-underline-animation-green"
                style="font-size: 1.5rem;">
                <a style="color: unset; cursor: pointer" (click)="onUpvote()">
                    <i class="pi pi-thumbs-up" style="font-size: 1.5rem"></i> 6
                </a>
            </span>
        <span
            pTooltip="Downvote"
            class="col-2 text-center hover:text-pink-500 hover-underline-animation-pink"
            style="font-size: 1.5rem;">
                <a style="color: unset; cursor: pointer" (click)="onDownvote()">
                    <i class="pi pi-thumbs-down" style="font-size: 1.5rem"></i> 3
                </a>
            </span>
    </div>
</div>
<br>
